<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Угадай слово</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // define global vars
            var level = 2; // default level is medium
            // define functions
            function GetNextWord() {
                let xhr = new XMLHttpRequest();
                xhr.open("GET", "/next/" + level);
                xhr.send();
                xhr.onload = function () {
                    if (xhr.status != 200) {
                        alert(`Ошибка ${xhr.status}: ${xhr.statusText}`);
                    } else {
                        var jsonResponse = JSON.parse(xhr.responseText);
                        document.getElementById("scramble").innerHTML = jsonResponse.scramble;
                        document.getElementById("word").innerHTML = jsonResponse.word;
                        document.getElementById("eng").innerHTML = `(*eng. ${jsonResponse.eng})`;
                        document.getElementById("answer").value = "";
                        document.getElementById("answer").style.backgroundColor = "white";
                    }
                };
            }
            function SetLevelEasy() { level = 1; }
            function SetLevelMedium() { level = 2; }
            function SetLevelHard() { level = 3; }
            function CheckAnswer() {
                var answer = document.getElementById("word").innerText
                var UserInput = document.getElementById("answer").value;
                if (UserInput.toLocaleLowerCase() != answer.toLowerCase() && UserInput.length == answer.length) {
                    document.getElementById("answer").style.backgroundColor = "pink";
                }
                else if (UserInput.toLocaleLowerCase() == answer.toLowerCase() && UserInput.length == answer.length) {
                    document.getElementById("answer").style.backgroundColor = "lime";
                }
                else {
                    document.getElementById("answer").style.backgroundColor = "white";
                }
            }
            // assign handlers
            document.getElementById("next").onclick = GetNextWord;
            document.getElementById("btnradio1").onclick = SetLevelEasy;
            document.getElementById("btnradio2").onclick = SetLevelMedium;
            document.getElementById("btnradio3").onclick = SetLevelHard;
            document.getElementById("answer").onkeyup = CheckAnswer;
        });
    </script>
</head>

<body>
    <div class="container pt-1">

        <div class="row text-center align-items-center pt-1">
            <div class="col-sm"></div>
            <div class="col-sm">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Легко</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio2">Средне</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Сложно</label>
                </div>
            </div>
            <div class="col-sm"></div>
        </div>

        <div class="row text-center align-items-center pt-1">
            <div class="col-sm">
                <button id="next" class="btn btn-primary">Cледующее слово</button>
            </div>
            <div class="col-sm">
                <h1 id="scramble" class="display-1">{{ result.scramble }}</h1>
            </div>
            <div class="col-sm">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#answerModal">Показать
                    ответ</button>
            </div>
        </div>
        <div class="row text-center align-items-center pt-1">
            <div class="col-sm"></div>
            <div class="col-sm">
                <div class="input-group input-group-lg mb-3">
                    <input id="answer" type="text" class="form-control" placeholder="Ответ">
                </div>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="answerModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Правильный ответ ...</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <h1 id="word" class="display-1">{{ result.word }}</h1>
                    <h4 id="eng">(*eng. {{ result.eng }})</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>